html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;

    background-color:#f2f2f2;

    text-transform: uppercase;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-weight: bold;
    text-transform: uppercase;

    border: none;
}

.button:focus {
    outline: 0;
}

.button-blue {
    color: #ffffff;
    background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
    color: #ffffff;
    background-color: #669ec0;
}

.button-blue:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}

.button-brown {
    color: #ffffff;
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    color: #ffffff;
    background-color: #604e43;
}

.button-brown:active {
    color: rgba(255,255,255,0.3);
    background-color: #503e33;
}

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
}

.main-index h1,
.main-index h2,
.main-index h3 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.main-index .button {
    font-size: 21px;
    line-height: 26px;
}

.top-menu {
    position: relative;

    font-weight: bold;
}

.top-menu ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.top-menu .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-menu li {
    width: 240px;
    padding-top: 14px;
    padding-bottom: 16px;

    list-style-type: none;
}

.top-menu li:nth-child(4n+1) {
    margin-left: 72px;
}

.top-menu li:last-child,
.top-menu li:nth-child(4n) {
    margin-right: 72px;
}

.top-menu li:nth-child(4n-1) {
    margin-left: auto;
}

.top-menu li:nth-child(4n-1),
.top-menu li:nth-child(4n) {
    text-align: right;
}

.top-menu a {
    line-height: 26px;
    color: #000000;
}

.top-menu a:hover,
.top-menu a:focus {
    color: #81b3d2;
    outline: 0;
}

.top-menu a:active {
    color: rgba(0,0,0,0.3);
}  

.top-menu-current a,
.top-menu-current a:hover {
    color: #766357;    
}

.picture-big {
    height: 510px;
    background-color: #81b3d2;
    background-image: url('../img/shape.png'), url('../img/intro.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position-y: bottom, -56px;
    margin-bottom: 58px;
}

.intro {
    margin-bottom: 27px;
}

.intro h1 {
    width: 600px;
    margin: auto;
}

.reasons-to-go  {
    text-align: center;
}

.reasons-to-go .subheader {
    width: 600px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 51px;
}

.main-index .two-lines {
    margin: 0;
    margin-bottom: 23px;
    padding-left: 78px;
    padding-right: 77px;

    line-height: 21px;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;

    color: #ffffff;
    background-color: #81b3d2;
}

.feature-align-right {
    flex-direction: row-reverse;
}

.feature-container h3 {
    line-height: 21px;
    color: #ffffff;
}

.features-container {
    background-color:#eeeeee;
}

.feature {
    width: 400px;
    padding: 48px 47px;
    line-height: 21px;
}

.feature p {
    margin: 0;
    margin-bottom: 21px;
}

.feature p:last-of-type {
    margin-bottom: 0;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.suggestions li {
    list-style: none;
}

.advice {
    width: 400px;
    padding-top: 55px;
    padding-bottom: 82px;
    padding-left: 50px;
    padding-right: 50px;
}

.advice::before {
    display: inline-block;
    vertical-align: top;
    width: 75px;
    height: 80px;
    margin-bottom: 26px;

    content: '';

    background-repeat: no-repeat;
}

.advice p {
    margin: 0;
    margin-bottom: 21px;
} 

.advice p:last-of-type {
    margin-bottom: 0;
} 

.accomodation::before {
    background-image: url('../img/icon-1.svg'); 
    background-position-y: 5px;
}

.food::before {
    background-image: url('../img/icon-3.svg'); 
    background-position-y: 5px;
}

.souvenirs::before {
    background-image: url('../img/icon-2.svg'); 
    background-position-x: 5px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
}

.features-container .feature {
    padding-top: 47px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.picture {
    position: relative;
    width: 800px;
    min-height: 256px;
    overflow: hidden;
}

.picture img{
    position: absolute;
    max-width: 100%;
    top: 54%;
    left: 0%;
    height: auto;
    transform: translateY(-54%);
}

.picture-map {
    position: relative;
    width: 100%;
    height: 593px;
    overflow: hidden;
}

.picture-map img {
    position: absolute;
}

.picture-map iframe {
    position: absolute;
    border: 0;
}

.hashtag b {
    font-size: 21px;    
}

.search-hotel {
    text-align: center;
    padding-top: 49px;    
}

.search-hotel b {
    display: block;
    width: 600px;
    margin: auto;
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.search-hotel p {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 48px;
    line-height: 24px;
}

.search-hotel .button-brown {
    width: 568px;
    padding: 30px;
} 

.form-search-hotel {
    display: none;

    width: 568px;
    padding: 55px;

    line-height: 26px;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;

    position: absolute;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes showing {
    0% {opacity: 0};
    100% {opacity: 1};
}

.form-search-hotel-show {
    display: block;
    z-index: 10;
    animation: showing 1s ease-out;
}

.form-search-hotel .area {
    margin-bottom: 30px;
}

.form-search-hotel .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;
}

.form-search-hotel label {
    width: 112px;
    text-align: left;
}

.form-search-hotel .label-children {
    width: 65px;
}

.form-search-hotel .area {
    display: flex;
    align-items: center;
}

.area-date label {
    margin-right: auto;
}

.area-date .date,
.area-date .calendar {
    justify-content: flex-end;
}

.form-search-hotel input,
.form-search-hotel .button-grey {
    height: 38px;
 
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
 
    vertical-align: middle;
    background-color: #f2f2f2;
}

.form-search-hotel input {
    text-transform: uppercase;
    border: none;
}

.form-search-hotel input:hover {
    background-color: #ebebeb;
}

.form-search-hotel input:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #e5e5e5 inset;
    outline: none;
}

.form-search-hotel .date {
    width: 308px;
    
    padding-left: 10px;
}

.form-search-hotel .number {
    width: 38px;
    text-align: center;
}

.form-search-hotel .button-grey {
    width: 38px;
    color: #a9a9a9;
}

.form-search-hotel .calendar {
    background-image: url('../img/calendar-grey.svg');
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.form-search-hotel .calendar:hover,
.form-search-hotel .calendar:focus {
    background-image: url('../img/calendar-black.svg');
}

.form-search-hotel .calendar:active {
    background-image: url('../img/calendar-blue.svg');
}

.form-search-hotel .incr:hover,
.form-search-hotel .incr:focus,
.form-search-hotel .decr:hover,
.form-search-hotel .decr:focus {
    color: #000000;
}

.form-search-hotel .incr:active,
.form-search-hotel .decr:active {
    color: #81b3d2;
}

.form-search-hotel .button-blue {
    width: 100%;
    padding: 16px;
}

@keyframes high-light {
    50% {
        background-color: rgba(255,0,0,0.1);
    };
}

.form-search-hotel .field-empty {
    border: 1px solid red;
    animation: high-light 0.7s ease-out;
}

/*===================================================================*/
/*===================================================================*/
/*===================================================================*/

.main-hotels {
    padding: 0;
}

.main-hotels h1,
.main-hotels h2,
.main-hotels h3 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    margin: 0;
}

.filter {
    display: flex;
    padding: 28px 72px;

    color: #ffffff;
    background-color: #81b3d2;
    background-image: url('../img/filter-background.jpg');
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.filter legend {
    font-size: 16px;
    font-weight: bold;
}

.filter ul {
    padding: 1px 0;
    margin: 0;
}

.filter li {
    margin-top: 23px;
    list-style: none;
}

.filter label {
    display: inline-block;
    vertical-align: middle;
    height: 23px;
}

.facilities,
.types-accomodation {
    width: 255px;
}

.facilities label::before,
.types-accomodation label::before {
    display: inline-block;
    
    width: 40px;
    height: 23px;
    vertical-align: middle;
 
    content: '';
    
    background: url('../img/checkbox-off.svg') no-repeat;
}

.checkbox:disabled + label {
    color: #6a6a6a;
}

.checkbox:disabled + label::before {
    background: url('../img/checkbox-off-disabled.svg') no-repeat;
}

.checkbox:checked + label::before {
    background: url('../img/checkbox-on.svg') no-repeat;
}

.checkbox:checked:disabled + label::before {
    background: url('../img/checkbox-on-disabled.svg') no-repeat;
}

.checkbox:focus + label {
    outline: 1px solid #ffffff;
    outline-offset: 3px;
}

.filter .column {
    display: flex;
    flex-direction: column;
    width: 317px;
    margin-left: auto;
}

.range-price legend {
    margin-bottom: 9px;
}

.filter .area-input {
    position: relative;
  
    width: 317px;
    height: 36px;
    margin-bottom: 20px;
    padding: 5px 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.area-input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.area-input label {
    display: inline-block;

    width: 80px;
    margin-left: 64px;
  
    font-size: inherit;
    line-height: inherit;
    vertical-align: top;
  
    cursor: pointer;
}

.area-input input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}

.area-scale {
    position: relative;
  
    margin-bottom: 32px;
}
  
.area-scale .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.area-scale .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle {
    box-sizing: content-box;

    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
    padding: 0;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(171,171,171,0.3);
    cursor: pointer;
}
  
.range-toggle:hover,
.range-toggle:focus {
    border-width: 9px;
}

.range-toggle:focus {
    outline: none;
}    

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.filter .button {
    margin-top: auto;
    margin-bottom: 4px;
    margin-right: 12px;
    align-self: center;
    padding-top: 6px;
    padding-bottom: 6px;
 
    width: 137px;

    font-size: inherit;
    line-height: inherit;
    font-weight: normal;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filter .button:hover,
.filter .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.hotels-found {
    padding: 0;
    background-color: #fefefe;
}

.hotels {
    padding: 0;
}

.sort-panel {
    display: flex;
    align-items: center;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5; 
}

.sort-panel h2 {
    width: 164px;
    flex-shrink: 0;
}

.sort-panel h3 {
    width: 115px;
    flex-shrink: 0;
}

.sort-panel li {
    width: 80px;
}

.sort-type,
.sort-direction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sort-direction {
    margin-left: auto;
}

.sort-direction li {
    width: 20px;
    text-align: right; 
}

.hotels-found h3 {
    font-size: 12px;
    line-height: 18px;
}

.sort-type a {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dotted rgba(0,0,0,0.3);
}

.sort-type a:hover,
.sort-type a:focus {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-type a:focus {
    outline: none;
}

.sort-type a:active {
    color: #000000;
    border-bottom: none;
}

.sort-type-current a {
    color: #81b3d2;
    border-bottom: none;
}

.sort-direction a {
    fill: #cacaca;
}

.sort-direction a:hover,
.sort-direction a:focus {
    fill: #000000;
}

.sort-direction a:focus {
    outline: none;
}

.sort-direction a:active,
.sort-direction-current a {
    fill: #81b3d2;
}

.hotels-found h3 {
    font-weight: normal;
}

.hotels {
    margin: 0; 
}

.hotel {
    display: flex;
    padding-top: 26px;
    padding-bottom: 29px;
    padding-left: 72px;
    padding-right: 72px;
  
    list-style: none;
    border-bottom: 1px solid #e5e5e5; 
}

.hotel .name-hotel {
    color: #000000;
}

.hotel .name-hotel:hover,
.hotel .name-hotel:focus {
    color: #81b3d2;
}

.hotel .name-hotel:focus {
    outline: 0;
}

.hotel .name-hotel:active {
    color: rgba(0,0,0,0.3);
}


.hotel p {
    margin: 0;
}

.hotel .column-1 {
    margin-top: 5px;
    margin-right: 30px;
}

.column-2 .row-1 {
    width: 750px;
    margin-bottom: 6px;
}

.column-2 .row-2 {
    margin-bottom: 15px;
}

.column-2 p {
    display: inline-block;
    width: 113px;
    vertical-align: top;
}

.column-2 .button-blue {
    margin-right: 2px;
}

.hotel .column-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-left: auto;
}

.column-3 .rate {
    width: 110px;
    padding-top: 3px;
    padding-bottom: 3px;

    color: #666666;
    text-align: center;

    background-color: #eeeeee;
}

.column-3 .stars {
    width: 117px;
    height: 17px;
    margin-top: 3px;
    margin-bottom: auto;

    background: url('../img/star.svg') repeat-x;
}

.stars.stars-four {
    width: 93px;
}

.stars.stars-three {
    width: 69px;
}

.stars.stars-two {
    width: 45px;
}

.stars.stars-one {
    width: 21px;
}

.hotel .button {
    display: inline-block;
    vertical-align: bottom;
    max-width: 150px; /*350px*/
    font-size: inherit;
    line-height: inherit;
    padding: 3px 17px;
}

footer {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(254,254,254,0.9);
}

footer .column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

footer .hashtag {
    font-size: 21px;
    line-height: 26px;
}

.footer-index {
    position: absolute;
    z-index: 20;
    bottom: 0;
} 

.socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.socials li {
    margin-right: 6px;
    list-style: none;
}

.socials li:nth-child(7n),
.socials li:last-child {
    margin-right: 0;
}

.socials li:nth-child(n+8) {
    margin-top: 6px;
}

.social {
    display: block;
    position: relative;
    
    width: 46px;
    height: 48px;
}

.social .svg-icon {
    fill: #ffffff;
}

.social:active .svg-icon {
    fill-opacity: 0.3;
}

.created-by p {
    margin: 0;
    padding: 0;
    line-height: 26px;
}    

.htmlacademy {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    width: 115px;
    height: 41px;
}

.htmlacademy:focus {
    outline: none;
}

.htmlacademy .svg-icon {
    fill: #231f20;
}

.htmlacademy:hover .svg-icon,
.htmlacademy:focus .svg-icon {
    fill: #98c1da;
}

.htmlacademy:active .svg-icon {
    fill: #bdbbbc;
}

.svg-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}