html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;

    background-color:#f2f2f2;
}


a {
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

a:hover,
a:focus {
    color: #81b3d2;
    outline: 0;
}

a:active {
    color: rgba(0,0,0,0.3);
}  

.header-hidden {
    display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font-weight: bold;
    text-transform: uppercase;

    border: none;
}

.button:focus {
    outline: 0;
}

.button-blue {
    color: #ffffff;
    background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
    color: #ffffff;
    background-color: #669ec0;
}

.button-blue:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}

.button-brown {
    color: #ffffff;
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    color: #ffffff;
    background-color: #604e43;
}

.button-brown:active {
    color: rgba(255,255,255,0.3);
    background-color: #503e33;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #dbdbdb;
}

.main-index h1,
.main-index h2,
.main-index h3 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.main-index .button {
    font-size: 21px;
    line-height: 26px;
}

.top-menu {
    display: flex;
    position: relative;

    font-weight: bold;
}

.top-menu ul {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0;
    padding: 0;
}

.top-menu .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-menu li {
    display: flex;
    align-items: center;

    width: 240px;
    height: 56px;

    list-style-type: none;
}

.top-menu li:first-child {
    margin-left: 72px;
}

.top-menu li:last-child {
    margin-right: 72px;
}

.top-menu li:nth-child(2) {
    margin-right: auto;
}

.top-menu li:nth-child(3),
.top-menu li:nth-child(4) {
    justify-content: flex-end;
}

.top-menu-current a {
    color: #766357;    
}

.picture-big {
    height: 510px;
    background-color: #81b3d2;
    background-image: url("../img/intro.jpg");
    background-position-y: -56px;
    margin-bottom: 58px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro h1 {
    width: 600px;
    margin: auto;
}

.reasons-to-go  {
    margin-top: 28px;
    text-align: center;
 /*   border: 1px solid black;
    */
}

.reasons-to-go .subheader {
    line-height: 26px;
    margin-bottom: 49px;
}

.feature-container {
    display: flex;
    flex-direction: row;

    height: 256px;

    color: #ffffff;
    background-color: #81b3d2;
}

.feature-align-right {
    flex-direction: row-reverse;
}

.feature-container h3 {
    line-height: 21px;
    color: #ffffff;
}

.features-container {
    background-color:#eeeeee;
}

.feature {
    width: 400px;
    min-height: 256px;

    padding: 25px 47px;
 
    line-height: 21px;
}

.two-lines {
    width: 151px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.feature p {
    display: inline-block;
    margin-top: 5px;
}

.suggestions {
    display: flex;
    margin: 0;
    padding: 0;
}

.suggestions h3 {
    line-height: 21px;
}

.suggestions li {
    list-style: none;
}

.advice {
    width: 400px;
    min-height: 330px;
    padding-top: 55px;
    padding-left: 50px;
    padding-right: 50px;
}

.advice::before {
    display: inline-block;
    width: 75px;
    height: 80px;

    content: '';

    background-repeat: no-repeat;
}

.advice h3 {
    margin-top: 22px;
} 

.accomodation::before {
    background-image: url("../img/icon-1.svg"); 
    background-position-y: 5px;
}

.food::before {
    background-image: url("../img/icon-3.svg"); 
    background-position-y: 5px;
}

.souvenirs::before {
    background-image: url("../img/icon-2.svg"); 
    background-position-x: 5px;
}

.features-container {
    display: flex;
}

.features-container h3 {
    line-height: 21px;
}

.features-container .feature {
    padding: 25px 60px;
}

.picture {
    width: 800px;
    min-height: 256px;
    overflow: hidden;
}

.picture img{
    position: relative;
    top: -78px;
}

.picture-map {
    width: 1200px;
    height: 473px;
    overflow: hidden;
}

.hashtag b {
    font-size: 21px;    
}

.search-hotel {
    text-align: center;
    padding-top: 49px;    
}

.search-hotel b {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.search-hotel p {
    display: block;
    margin-top: 24px;
    line-height: 24px;
}

.search-hotel .button-brown {
    width: 568px;
    min-height: 86px;
    margin-top: 33px;   
} 

.form-search-hotel {
    width: 568px;
    padding: 55px;

    line-height: 26px;
    font-weight: bold;
    color: #000000;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form-search-hotel .area {
    margin-bottom: 30px;
}


.form-search-hotel .row {
    display: flex;
    justify-content: space-between;
}

.form-search-hotel label {
    width: 112px;
    text-align: left;
/*    box-shadow: 0 0 0 1px black;
*/
}

.form-search-hotel .label-children {
    width: 65px;
}

.form-search-hotel .area {
    display: flex;
    align-items: center;
}

.area-date label {
    margin-right: auto;
}

.area-date .date,
.area-date .calendar {
    justify-content: flex-end;
}

.form-search-hotel input,
.form-search-hotel .button-grey {
    height: 38px;
 
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
 
    vertical-align: middle;
    background-color: #f2f2f2;
}

.form-search-hotel input {
    text-transform: uppercase;
    border: none;
}

.form-search-hotel input:hover {
    background-color: #ebebeb;
}

.form-search-hotel input:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #e5e5e5 inset;
    outline: none;
}

.form-search-hotel .date {
    width: 308px;
    
    padding-left: 10px;
}

.form-search-hotel .number {
    width: 38px;
    text-align: center;
}

.form-search-hotel .button-grey {
    width: 38px;
    color: #a9a9a9;
}

.form-search-hotel .calendar {
    background-image: url("../img/calendar-grey.svg");
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.form-search-hotel .calendar:hover,
.form-search-hotel .calendar:focus {
    background-image: url("../img/calendar-black.svg");
}

.form-search-hotel .calendar:active {
    background-image: url("../img/calendar-blue.svg");
}

.form-search-hotel .incr:hover,
.form-search-hotel .incr:focus,
.form-search-hotel .decr:hover,
.form-search-hotel .decr:focus {
    color: #000000;
}

.form-search-hotel .incr:active,
.form-search-hotel .decr:active {
    color: #81b3d2;
}

.form-search-hotel .button-blue {
    margin-top: 24px;
    width: 100%;
    height: 58px;
}

/*===================================================================*/
/*===================================================================*/
/*===================================================================*/

.main-hotels {
    padding: 0;
}

.main-hotels h1,
.main-hotels h2,
.main-hotels h3 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    margin: 0;
}

.filter {
    display: flex;
    justify-content: space-between;
    min-height: 217px;
    padding: 28px 72px;

    color: #ffffff;
    background-color: #81b3d2;
    background-image: url('../img/filter-background.jpg');
}

.filter fieldset {
    padding: 0;
    margin: 0;
    width: 255px;
    border: none;
}

.filter legend {
    font-size: 16px;
    font-weight: bold;
}

.filter ul {
    padding: 1px 0;
    margin: 0;
}

.filter li {
    margin-top: 23px;
    list-style: none;
}

.filter label {
    display: inline-block;
    height: 23px;
}

.filter input {
    font-size: inherit;
    line-height: inherit;
}

.facilities label::before,
.types-accomodation label::before {
    display: inline-block;
    
    width: 40px;
    height: 23px;
    vertical-align: middle;
 
    content: '';
    
    background: url('../img/checkbox-off.svg') no-repeat;
}

.filter input:checked + label::before {
    background: url('../img/checkbox-on.svg') no-repeat;
}

.filter input:focus + label {
    outline: 1px solid #ffffff;
    outline-offset: 3px;
}

.filter .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 317px;
    margin-left: auto;
}

.filter .button {
    width: 137px;
    height: 36px;
    margin-right: 12px;
    margin-bottom: 4px;
    align-self: center;

    font-size: inherit;
    line-height: inherit;
    font-weight: normal;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.filter .button:hover,
.filter .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.hotels-found {
    padding: 0;
}

.hotels {
    padding: 0;
}

.sort-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
    padding: 0 72px;
    box-shadow: 0 1px 0 0 #e5e5e5;
}

.sort-panel h2 {
    width: 164px;
}

.sort-panel h3 {
    width: 115px;
}

.sort-panel ul {
    padding: 0;
}

.sort-panel li {
    width: 80px;
}

.sort-type,
.sort-direction {
    display: flex;
    list-style: none;
}

.sort-direction {
    margin-left: auto;
}

.sort-direction li {
    width: 20px;
    text-align: right; 
}

.hotels-found h3 {
    font-size: 12px;
    line-height: 18px;
}

.sort-type a {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0,0,0,0.3);
    text-decoration: underline dotted;
}

.sort-type a:hover,
.sort-type a:focus {
    color: #81b3d2;
}

.sort-type a:active {
    color: #000000;
}

.sort-type-current a {
    color: #81b3d2;
    text-decoration: none;
}

.sort-direction .up a::before {
    background: url(../img/icon-up-dir.svg) no-repeat;
}

.sort-direction .down a::before {
    background: url(../img/icon-down-dir.svg) no-repeat;
}

.sort-direction a {
    color: #cacaca;
}

.sort-direction a:hover,
.sort-direction a:focus {
    color: #000000;
}

.sort-direction a:active,
.sort-direction-current a {
    color: #81b3d2;
}

.hotels-found h3 {
    font-weight: normal;
}

.hotel {
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
} 

.hotels {
    margin: 0; 
}

.hotels li {
    list-style: none;
    padding-top: 26px;
    padding-bottom: 30px;
}

.hotel {
    box-shadow: 0 1px 0 0 #e5e5e5;
}

.hotel p {
    margin: 0;
}

.hotel .column-1 {
    margin-top: 5px;
}

.hotel .column-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 29px;
} 

.column-2 .row-1 {
    margin-bottom: 6px;
}

.column-2 p {
    display: inline-block;
}

.row-2 p {
    width: 113px;
}

.row-3 {
    margin-top: auto;
}

.hotel .column-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: auto;
}

.column-3 .rate {
    width: 110px;
    padding-top: 3px;
    padding-bottom: 3px;

    color: #666666;
    text-align: center;

    background-color: #eeeeee;
}

.column-3 .stars {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #81b3d2;
}

.stars p {
    margin-left: 4px;
}

.hotel .button {
    font-size: inherit;
    line-height: inherit;
    padding: 5px 18px;
}

footer {
    display: flex;
    justify-content: space-around;
    min-height: 120px;
}

footer .column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

footer .hashtag {
    font-size: 21px;
    line-height: 26px;
}

.socials ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.socials li:nth-child(2) {
    margin-left: 6px;
    margin-right: 6px;
}

.socials li {
    list-style: none;
}

.social {
    display: inline-block;
    position: relative;
    
    width: 46px;
    height: 48px;
}

.social .svg-icon {
    fill: #ffffff;
}

.social:active .svg-icon {
    fill-opacity: 0.3;
}

.created-by a {
    vertical-align: middle;
}

.created-by {
    line-height: 26px;
}

.htmlacademy {
    display: inline-block;
    position: relative;

    width: 115px;
    height: 41px;
}

.htmlacademy .svg-icon {
    fill: #231f20;
}

.htmlacademy:hover .svg-icon,
.htmlacademy:focus .svg-icon {
    fill: #98c1da;
}

.htmlacademy:active .svg-icon {
    fill: #bdbbbc;
}

.svg-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}