body {
    width: 1200px;

    font-size: 14px;
    font-family: 'PT Sans', serif;
    color: #000000;
    line-height: 1.857;

    padding-left: 10px;
/*    text-align: center;
*/
}

body, button {
    text-transform: uppercase;
}

body li {
    list-style-type: none;
}

.visually-hidden {
    display: none;
}

.top-menu {
    font-weight: bold;
}

h1, h2 {
    font-size: 21px;
    line-height: 1.238;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #81b3d2;
    outline: 0;
}

a:active {
    color: #b2b2b2;
}  

.top-menu-current a {
    color: #766357;    
}


.intro .picture-big {
    height: 510px;
    background-color: #81b3d2;
    background-image: url("../img/intro.jpg");
    background-position-y: -56px;
}

/*
.feature-container .feature {
    color: #ffffff;
    background-color: #81b3d2;
}

.feature {
    background-color:#eeeeee;
}
*/
.feature-container {
    color: #ffffff;
    background-color: #81b3d2;
}

.features-container {
    background-color:#eeeeee;
}


.search-hotel b {
    font-size: 30px;
    line-height: 1.2;    
}

.picture {
    width: 800px;
    height: 260px;
    overflow: hidden;
}

.picture img{
    position: relative;
    top: -78px;
}

.picture-map {
    width: 1200px;
    height: 473px;
    overflow: hidden;
}

.hashtag b {
    font-size: 21px;    
}

.button {
    padding: 5px 18px;
    font-weight: bold;
    color: #ffffff;
}

.button:hover,
.button:focus {
    color: #ffffff;
    outline: 0;
}

.button:active {
    color: #928a85;
}

.button-blue {
    background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #669ec0;
}

.button-blue:active {
    background-color: #669ec0;
}

.button-brown {
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33;
}

.search-hotel .button {
    width: 568px;
    height: 86px;

    font-size: 21px;
    line-height: 1,238;
}

.form-search-hotel .button {
    width: 458px;
    height: 58px;

    font-size: 21px;
    line-height: 1,238;
}

.filter {
    font-size: 14px;
    line-height: 3.286; /*1.238; */
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url('../img/filter-background.jpg');
}

.filter legend {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.filter .button {
    width: 133px;
    height: 32px;

    font-weight: normal;

    background-color: transparent;
}

.filter .button:hover,
.filter .button:focus
 {
    color: #000000;
    background-color: #ffffff;
}


.filter .checkbox {
/*    display: none;*/
    opacity: 0;
}

.filter .facilities ul,
.filter .types-accomodation ul {
    padding-left: 5px;
}


.filter .facilities label::before,
.filter .types-accomodation label::before {
    display: inline-block;
    
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-left: 5px;
 
    content: '';
    
    background: url('../img/checkbox-off.svg') no-repeat;
}

.filter input:checked + label::before {
    background: url('../img/checkbox-on.svg') no-repeat;
}

.filter input:focus + label::before {
    background-color: #81b3d2;
}

.hotels-found .sort-type a {
    font-size: 12px;
    line-height: 1.5;
    color: #b2b2b2;
    text-decoration: underline dotted;
}

.hotels-found .sort-type a:hover,
.hotels-found .sort-type a:focus {
    color: #81b3d2;
}

.hotels-found .sort-type a:active {
    color: #000000;
}

.hotels-found .sort-type-current a {
    color: #81b3d2;
    text-decoration: none;
}

/*
.hotels-found .sort-direction a::before {
    display: inline-block;

    width: 30px;
    height: 30px;
    vertical-align: middle;

    content: '';
}
*/
.hotels-found .sort-direction .up a::before {
    background: url(../img/icon-up-dir.svg) no-repeat;
}

.hotels-found .sort-direction .down a::before {
    background: url(../img/icon-down-dir.svg) no-repeat;
}

.hotels-found .sort-direction a {
    color: #b2b2b2;
}

.hotels-found .sort-direction a:hover {
    color: #000000;
}

.hotels-found .sort-direction a:active,
.hotels-found .sort-direction-current a {
    color: #81b3d2;
}

.hotels .hotel .rate {
    width: 110px;
    height: 27px;

    background-color: #eeeeee;
}

.social {
    display: inline-block;
    position: relative;
    
    width: 46px;
    height: 48px;
}

.social .svg-icon {
    fill: #ffffff;
}

.social:active .svg-icon {
    fill: #88b6d1;
}

.created-by a {
    vertical-align: middle;
}

.htmlacademy {
    display: inline-block;
    position: relative;

    width: 115px;
    height: 41px;
}

.htmlacademy .svg-icon {
    fill: #231f20;
}

.htmlacademy:hover .svg-icon,
.htmlacademy:focus .svg-icon {
    fill: #98c1da;
}

.htmlacademy:active .svg-icon {
    fill: #bdbbbc;
}

.svg-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}