.picture {
    width: 800px;
    height: 260px;
    overflow: hidden;
}

.picture img{
    position: relative;
    top: -78px;
}

.picture-map {
    width: 1200px;
    height: 473px;
    overflow: hidden;
}
